.button {
  border: none;
  border-radius: 3px;
  padding: 0;
  background-color: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 13px 0 15px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: .8;
  }
}