.profile {
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 410px;

  @media  all and (max-width: 1279px) {
    padding: 236px 0 269px;
  }

  @media  all and (max-width: 767px) {
    width: 100%;
    padding: 70px 30px 40px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 123px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media  all and (max-width: 767px) {
      width: 100%;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding: 12px 0 15px;
    flex-wrap: wrap;
    position: relative;

    &:last-of-type {
      border-top: 1px solid var(--borderColor);

      & > .profile__error_active {
        bottom: -20px;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 2px;
    left: 0;
    color: var(--errorColor);
    margin: 0;
    align-self: center;
    display: none;

    &_active {
      display: block;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid transparent;
    background: none;
    padding: 5px 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 5px;
    flex-grow: 1;
    text-align: right;
    outline: 0;

    &:focus,
    &:hover {
      border-color: #fff;
    }

  }

  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__button {
    border: none;
    background: none;
    padding: 0;
    align-self: center;
    font-size: 13px;
    line-height: 16px;
    color: inherit;
    transition: .3s;

    &_logout {
      color: var(--errorColor);
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &:disabled {
      opacity: .5;
      cursor: default;
    }
  }
}
