.about-project {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  &__item {
    width: 48.25%
  }

  &__diag {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__diag-column {
    width: 80%;
    line-height: 17px;
    text-align: center;
    &_type {
      &_back {
        width: 20%;
      }
    }
  }

  &__diag-bar {
    padding: 9px;
    background-color: var(--diagColor);

    &_type {
      &_back {
        background-color: var(--accentColor);
        color: #000;
      }
    }
  }

  &__diag-label {
    padding: 9px;
    color: var(--secondaryTextColor);
    font-weight: 500;
  }
}

@media  all and (max-width: 767px) {
  .about-project {
    &__list {
      flex-direction: column;
      gap: 56px;
      margin-bottom: 60px;
    }

    &__item {
      width: 100%;

    }

    &__diag-column {
      font-size: 11px;
      line-height: 13px;
      width: 65%; 
      
      &_type {
        &_back {
          width: 35%;
        }
      }
    }
  }
}
