.menu-button {
  position: relative;
  display: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  z-index: 10;
  
  &__icon {
    width: 40px;
    height: 43px;
    fill: #fff;
  }

  @media  all and (max-width: 1023px) {
    display: block;
  }
}